.app-list {
  @apply flex flex-col;
  --indent-padding: 0px;

  .app-list-subheader:not(:last-child) {
    @apply -mb-1;
  }

  &--nav {
    @apply m-1 gap-y-1;

    .app-list-divider {
      @apply -mx-1;
    }

    .app-list-subheader:not(:last-child) {
      @apply -mb-2;
    }

    .app-list-item {
      @apply rounded-sm;
    }

    .app-list-group-items {
      @apply flex flex-col gap-y-1 mt-1;
    }
  }

  &--nav:not(&--dense) {
    @apply gap-y-2 m-2;

    .app-list-divider  {
      @apply -mx-2;
    }

    .app-list-group-items {
      @apply gap-y-2 mt-1;
    }
  }

  @at-root .app-list-group-items .app-list-item {
    --default: 10px;
    --dense: 6px;

    @screen md {
      --default: 12px;
      --dense: 8px;
    }

    padding-left: calc(var(--default) + var(--indent-padding));

    &--dense {
      padding-left: calc(var(--dense) + var(--indent-padding));
    }
  }

  @at-root .app-list-group {
    --parent-padding: var(--indent-padding);
    --list-indent-size: 30px;

    @screen md {
      --list-indent-size: 36px;
    }
  }
}

.app-list-group-items {
  --indent-padding: calc(var(--parent-padding) + var(--list-indent-size));
}
